*,*::after,*::before
{
  box-sizing: border-box;
  margin:0;
  padding:0;
  
}
:root
{
  --middle:calc( 50vh - 10vw);
}


html
{
overflow-x:hidden;
font-size: 10px; 
color: white;
}





body {
   background-color: rgb(6, 28, 36);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar
{
  position:relative;
  z-index:3;
  height:100vh;
  font-size:2rem;
  width: 4.5rem;
  display: flex;
  align-items:center;
  background-color: black;
  float: left;
}
.navbuttons
{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
width:4rem
}

.mycolor
{
  background-color:rgb(43,158,120);
}

.navbutton
{
width:2.5rem;
margin-top:1.5rem;
margin-bottom:1.5rem;
}

.navbutton:hover
{
filter:brightness(50%);
}

.buttonHome
{
color:rgb(43,158,120);
width:11rem;
height: 4rem;
background-color:rgba(43,158,120,0.1);
border:1px solid;
border-radius:5px;
border-color:rgb(43,158,120) ;


}

.buttonHome:hover
{
  background-color:rgba(43,158,120,0.3);
}

.smt
{

height:100vh;
width:calc( 100vw - 4.5rem);
margin-left:4.5rem;
}

.loadtext
{
font-size:3rem;
margin-bottom:2rem;

}
.loader
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;

}


@keyframes grow {
  0% {
    width:0px;
  }

  100% {
    width:50rem;
    background-color:royalblue;
  }
  
}

.barContainer
{
 width:50rem;
 display: flex;
 justify-content: flex-start;
}

.bar
{
border-radius: 50px;
width:0px;
height:5rem;
background-color: aquamarine;
transition:width 2s;
animation: 2s ease-out 0s 1 grow;
}

.slideshow
{
position: absolute;
visibility: hidden;
top:var(--middle);
left:0vw;
width:25vw;
height:15vw;
background-color: red;
animation:slide 15s linear infinite;

}

.startAnimation
{
  animation-play-state: running;
}

.stopAnimation
{
  animation-play-state:paused;
}

.curtain
{
position: absolute;
z-index: 3;
background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
height:100vh;
width:20vw;
}

.curtain:nth-child(1)
{
background-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
left:calc((100vw - 20vw));
}



.slideshow:nth-child(2){animation-delay:1.25s;}
.slideshow:nth-child(3){animation-delay:2.50s;}
.slideshow:nth-child(4){animation-delay:3.75s;}
.slideshow:nth-child(5){animation-delay:5s;}
.slideshow:nth-child(6){animation-delay:6.25s;}
.slideshow:nth-child(7){animation-delay:7.50s;}
.slideshow:nth-child(8){animation-delay:8.75s;}
.slideshow:nth-child(9){animation-delay:10s;}
.slideshow:nth-child(10){animation-delay:11.25s;}
.slideshow:nth-child(11){animation-delay:12.5s;}
.slideshow:nth-child(12){animation-delay:13.75s;}





@keyframes slide
{
0%  {left:0vw;top:var(--middle);visibility:visible;} 
25% {left:90vw;top:var(--middle);visibility:hidden ;}
50% {left:90vw;top:0vh;visibility: hidden;}
75% {left:0vw;top:0vh;visibility: hidden;}
100% {left:0vw;top:var(--middle);visibility: hidden;}
}



